@import url('https://fonts.googleapis.com/css2?family=Lato');

:root{
    --white: #fff;
    --dark1: #08081A;
    --dark2: #2D5CBF;
    /* --dark3: #2A9FE6; */
    --dark4: #0F1E3F;
    --dark5: #cbdad5;
    --cyan1: #70e3ea;
}

*{
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--dark1);
}

::-webkit-scrollbar-thumb {
    background: var(--dark3);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--dark4);
}

body{
    background-color: var(--dark1);
    background-size: 400%;
    height: 100vh;
    font-family: 'Lato';
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: .8rem;
    background-color: #08081A;
    min-height: 50px;
}

.box-img-header{
    height: 100%;
}

.img-logo{
    height: 100%;
    max-height: 90px;
}

nav{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.nav-links{
    text-decoration: none;
    color: var(--white);
}

.nav-links:hover{
    color: var(--cyan1);
    text-decoration: underline;
    transition: .4s;
}

.box-btn-actions{
    display: flex;
    gap: 1rem;
}

:is(button,.link-action){
    padding: .6rem;
    font-size: .9rem;
    border-radius: 6px;
    cursor: pointer;
    transition: .4s;
}

.btn-action{
    background-color: transparent;
    border: 1px solid var(--white);
    color: var(--white);
}

.btn-action:hover{
    background-color:  var(--dark3);
    border: 1px solid var(--dark3);
}

.link-action{
    text-decoration: none;
    width: 200px;
    text-align: center;
}

main{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

section{
    padding: 4rem;
}

.first-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    min-height: 650px;
    flex-wrap: wrap;
}

.first-section > div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 300px;
}

h1{
    font-size: 4rem;
    letter-spacing: 8px;
    color: var(--white);
}

strong{
    color: var(--cyan1);
}

.first-section p{
    color: var(--white);
}

.first-section button{
    width: 200px;
}

.box-img-main{
    max-width: 450px;
    padding: 1rem;
}

.img-profile{
    width: 100%;
    border-radius: 50%;
}

:is(.second-section, .fourth-section){
    background-color: var(--dark2);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.title{
    color: var(--dark5);
}

.second-section div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.second-section p{
    color: var(--dark4);
    font-weight: bold;
    letter-spacing: 2px;
}

.second-section p:hover{
    color: var(--dark5);
    transition: .4s;
    cursor: default;
}

.third-section{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.third-section > div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    flex-wrap: wrap;
}

.third-section > div img{
    width: 250px;
    border-radius: 10px;
}

.third-section > div p{
    max-width: 600px;
    color: var(--white);
}

#my-projects-list{
    display: flex;
    gap: 2rem;
    padding: 2rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#my-projects-list a{
    text-decoration: none;
    color: var(--dark3);
}

#my-projects-list a:hover{
    transition: .4s;
    color: var(--dark4);
}

:is(.img-profile,.img-who-am-i){
    box-shadow: 1px 1px 1px 1px var(--cyan1);
}

h2 {
    justify-content: center;    /* Centraliza horizontalmente */
    align-items: center;        /* Centraliza verticalmente */
    height: 10vh;          /* Altura total da tela para centralização vertical (opcional) */
    font-weight: bold;
    font-size: 32px;          /* Coloca o texto em negrito */
    color: #cbdad5;               /* Cor branca para o texto da div */
    text-align: center;
}

.carrossel {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    scroll-snap-align: start;
    transition: transform 0.3s ease;
}
.card:hover {
    transform: translateY(-10px);
}
.card img {
    width: 100%;
    height: auto;
    display: block;
    /* object-fit: cover; */
}
.card h3 {
    font-size: 1.5rem;
    margin: 15px;
    color: #333;
}
.card p {
    font-size: 1rem;
    margin: 0 15px 15px;
    color: #666;
}

footer{
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

footer > div{
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.copyright {
    display: flex;              /* Usa flexbox para centralizar o conteúdo */
    justify-content: center;    /* Centraliza horizontalmente */
    align-items: center;        /* Centraliza verticalmente */
    height: 5vh;              /* Altura total da tela para centralização vertical (opcional) */
    font-weight: bold;          /* Coloca o texto em negrito */
    color: #fff;               /* Cor branca para o texto da div */
    text-align: center;         /* Garante alinhamento centralizado do texto */
}

div span {
    color: #70e3ea;            /* Cor específica para o span */
}

div span a {
    color: #70e3ea; /* Mantém a cor do span */
    text-decoration: none; /* Remove o sublinhado padrão */
}

div span a:hover {
    text-decoration: underline; /* Opcional: sublinhado ao passar o mouse */
}

/* Botão do Whatsapp adicionado recentemente */
.whatsapp-fixed {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000; /* Para garantir que o ícone fique acima dos outros elementos */
}

.whatsapp-icon {
    width: 50px; /* Tamanho do ícone */
    height: 50px;
    cursor: pointer;
    border-radius: 50%; /* Forma redonda */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Sombras para destacar */
    transition: transform 0.2s ease-in-out;
}

.whatsapp-icon:hover {
    transform: scale(1.2); /* Efeito de zoom ao passar o mouse */
}


@media (max-width: 768px) {
    .carrossel {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 480px) {
    .carrossel {
        grid-template-columns: 1fr;
    }
